.textLink {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    transition: color 0.3s ease, text-decoration 0.3s ease;
  
    &:hover {
      color: var(--link-hover-color);
      text-decoration: underline;
    }
  }
  