.textLink {
    display: inline-block;
    width: fit-content;
    white-space: nowrap;
    color: var(--text-color);
    text-decoration: none;
    font-size: 1rem;
    padding: 0;
    transition: color 0.3s ease, text-decoration 0.3s ease;
  
    &:hover {
      color: var(--link-hover-color);
      text-decoration: underline;
    }
  }
  